In [1]:
import numpy as np
import pandas as pd

In [27]:
metadata = pd.read_csv('./the-movies-dataset/movies_metadata.csv', encoding ='utf-8')
released = df.loc[metadata['status']=='Released']
metadata_small = released.sort_values(by=['revenue'], ascending=False)[:5000]

/Users/marita/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3057: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [39]:
ratings = pd.read_csv('./the-movies-dataset/ratings.csv', encoding ='utf-8')
ratings_small = ratings.loc[ratings['movieId'].isin(metadata_small['id'])]

In [40]:
credits = pd.read_csv('./the-movies-dataset/credits.csv', encoding ='utf-8')
credits_small = credits.loc[credits['id'].isin(metadata_small['id'])]

In [35]:
len(credits_small.index)

5000

In [42]:

metadata_small.to_csv('the-movies-dataset-short/movies_metadata_short.csv')
ratings_small.to_csv('the-movies-dataset-short/ratings_short.csv')
credits_small.to_csv('the-movies-dataset-short/credits_short.csv')

In [41]:
ratings_small.head()

    userId  movieId  rating   timestamp
2        1      858     5.0  1425941523
4        1     1246     5.0  1425941556
5        1     1968     4.0  1425942148
8        1     2959     4.0  1425941601
28       2       25     3.0   867039168